* {
    margin: 0px;
    font-family: 'Montserrat';
}

body {
    background-color: #191724;
    margin-left: 20%;
}

img {
    width: 100px;
}

/*Navbar*/
.navigation {
    display: flex;
    flex-direction: column;
    background-color: #9ccfd8;
    overflow: hidden;
    width: 20%;
    min-width: 150px;
    height: 100%;
}

.navigation a {
    float: left;
    color: #31748f;
    padding: 14px;
    text-decoration: none;
}

.navigation a:hover {
    background-color: #31748f;
    color: #2a2837;
    width: 100%;
  }

.sticky {
    position: fixed;
    left: 0;
    height: 100%;
}
/*Navbar end*/

/*IDs*/
#contact1 {
    background-color: #eb6f92;
}

#contact2 {
    background-color: #f6c177;
}

#contact3 {
    background-color: #ebbcba;
}
/*IDs end*/

/*Flexboxes for the contacts*/
.contact-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding: 10%;
}

.contact-item {
    width: 300px;
    margin: 10px;
    border-radius: 10%;
    text-align: center;
    padding: 100px 0px
}
/*End of flexboxes*/


/*Media changes for a mobile app*/
@media screen and (max-width: 550px) {
    
    .contact-container {
        margin-left: 25%;
    }

    .contact-item {
        padding: 70px 0px
    }

    img {
        width: 50px;
    }
}

