* {
    margin: 0px;
    font-family: 'Montserrat';
    color: #e0def4;
}

body {
    background-color: #191724;
    margin-left: 20%;
}

img {
    width: 100px;
}

.button {
    border-radius: 10%;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: 3px;
}

/*Navbar*/
.navigation {
    display: flex;
    flex-direction: column;
    background-color: #9ccfd8;
    overflow: hidden;
    width: 20%;
    min-width: 150px;
    height: 100%;
}

.navigation a {
    float: left;
    color: #31748f;
    padding: 14px;
    text-decoration: none;
}

.navigation a:hover {
    background-color: #31748f;
    color: #2a2837;
    width: 100%;
  }

.sticky {
    position: fixed;
    left: 0;
    height: 100%;
}
/*Navbar end*/

/*colours*/
.love {
    background-color: #eb6f92;
}

.gold {
    background-color: #f6c177;
}

.rose {
    background-color: #ebbcba;
}

.iris {
    background-color: #c4a7e7;
}

.pine {
    background-color: #31748f;
}
/*IDs end*/

/*Containers*/
.contact-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding: 10%;
}

.contact-item {
    width: 300px;
    margin: 10px;
    border-radius: 10%;
    text-align: center;
    padding: 100px 0px
}

.contact-form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    gap: 15px;
    padding: 10%;
}

.rounded-border {
    width: 100px;
    border-radius: 50%;
    background-color: #6e6a86;
    object-fit: cover;
    padding: 2%;
}




/*End of containers*/


/*Media changes for a mobile app*/
@media screen and (max-width: 550px) {
    
    .contact-container {
        margin-left: 25%;
    }

    .contact-item {
        padding: 70px 0px
    }

    .contact-form {
        margin-left: 25%;
    }

    img {
        width: 50px;
    }
}

